.image-container {
    max-width: 100px; /* Set the maximum width for the image */
    margin-right: 10px; /* Add some spacing between the image and the text */
  }
  
  .image {
    width: 100%; /* Make the image responsive and fill its container */
    height: auto; /* Maintain the image's aspect ratio */
  }

.cardas{
    border: none;
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--cor1);
    margin-bottom: 2rem;
    border-radius: 0px;
}

.olink{
    text-decoration: none;
}

.pula{
  margin-bottom: 2rem;
}